doctype html
html
  head
    title= `${title || 'John Cena'}`
    link(rel='stylesheet' href='./styles/event.css')
    link(href="https://fonts.googleapis.com/css?family=Exo:900" rel="stylesheet")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    .header
        h2='Nothing\'s here. ' 
          a(href='./') Abort